html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

circle {
  position: relative;
}
circle:hover {
  cursor: pointer;
}

#mapbox {
  width: 100vw;
  height: 100vh;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapbox-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading-screen {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 15);
}

h1 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Bungee Outline", cursive;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
}

.overlay-bg {
  z-index: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle at center,
    rgba(15, 28, 66, 0) 5%,
    rgba(15, 28, 66, 0.8) 12%,
    rgba(15, 28, 66, 0.95) 80%
  );
}
.overlay-bg:hover {
  cursor: pointer;
}

svg text {
  color: white;
}

svg line {
  color: white;
}

#ingredients {
  color: white;
  z-index: 5;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  display: none;
  /* border: 1px solid red; */
}

#nutrition {
  z-index: 5;
  position: absolute;
  left: 20vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  display: none;
  /* border: 1px solid red; */
}

#restaurant {
  margin: 20px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: rgb(15, 15, 15, 0.9);
  opacity: 0;
  transition: all 100ms ease-in;
  width: 300px;
}

#name {
  font-size: 18px;
  padding-bottom: 5px;
}

#cuisine, #scale {
  font-size: 15px;
  color: white;
}

#ingredientUsage {
  padding: 15px;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: black;
  visibility: hidden;
  z-index: 5;
  position: absolute;
  left: 50vw;
  top: 72.5vh;
  transform: translate(-50%, -50%);
}

#ingredientUsageCount {
  font-size: 15px;
  text-align: center;
}

#info {
  margin: 20px;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: rgb(15, 15, 15, 0.9);
  width: 400px;
  font-size: 15px;
}

#title {
  font-size: 25px;
  color: white;
}

#rest {
  margin: 20px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#legend {
  width: 150px;
  height: 105px;
}

#sub {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: white;
}

#leg {
  z-index: -1;
  margin: 20px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: rgb(15, 15, 15, 0.9);
  width: 120px;
  font-size: 15px;
  position: fixed;
  bottom: 2%;
  right: 0;
}

#cuisines {
  z-index: -2;
  margin: 20px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: rgb(15, 15, 15, 0.9);
  width: 710px;
  height: 70px;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
}

#info,
#restaurant,
#leg,
#cuisines {
  border-radius: 5px;
}
